@model VendasWeb.Models.ViewModel.VendedorFormViewModel

@{
    ViewData["Title"] = "Editar Vendedor";
}

<h1>Editar</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Vendedor.VendedorId" />
            <div class="form-group">
                <label asp-for="Vendedor.VendedorNome" class="control-label">Nome do Vendedor</label>
                <input asp-for="Vendedor.VendedorNome" class="form-control" />
                <span asp-validation-for="Vendedor.VendedorNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.VendedorEmail" class="control-label">Email</label>
                <input asp-for="Vendedor.VendedorEmail" class="form-control" />
                <span asp-validation-for="Vendedor.VendedorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.VendedorAniversario" class="control-label">Aniversário</label>
                <input asp-for="Vendedor.VendedorAniversario" class="form-control" type="date" />
                <span asp-validation-for="Vendedor.VendedorAniversario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.VendedorSalario" class="control-label">Salário Base</label>
                <input asp-for="Vendedor.VendedorSalario" class="form-control" />
                <span asp-validation-for="Vendedor.VendedorSalario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor.FilialId" class="control-label">Filial</label>
                <select asp-for="Vendedor.FilialId" asp-items="@(new SelectList(Model.Filiais, "FilialId", "FilialNome"))" class="form-control"></select>
                <span asp-validation-for="Vendedor.FilialId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
